apiVersion: v1
kind: Config
clusters:
- name: kubernetes
  cluster:
    certificate-authority-data: $CA_CRT
    server: $SERVER_URL
contexts:
- name: cd-context
  context:
    cluster: kubernetes
    namespace: homework
    user: cd
current-context: cd-context
users:
- name: cd
  user:
    token: $SERVICE_ACCOUNT_TOKEN
